{% extends 'subastas_app/index.html' %}

<body>
    {% block content %}
    <div class="container section">
        <h1>Articulos</h1>

        <div class="row">
            <!-- Inicio del ciclo for para mostar las categorias -->
            <div class="divider"></div>
            {% for categoria_info in categoria %}

            
            {% for articulo_info in  articulos%}
                
                 
            {% if articulo_info.categoria_id == categoria_info.id and  articulo_info.publicacion.is_active == 1 %}

                
            <div class="col s12 m6 l4">
                <div class="card medium">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" id="card-image" src="{{ articulo_info.imagen.url }}">
                    </div>
                    <div class=" card-content">
                        <span class="card-title activator grey-text text-darken-4">  {{ articulo_info.nombre }} 
                            <i class="material-icons right">keyboard_arrow_up</i>
                        </span>
                        <div class="section_precios">
                            <!-- <p class="col l12 info_precios black-text grey lighten-1">Precio de entrada: ${{ articulo_info.precio_minimo }}</p> -->
                            <p class="info_precios amber deep-orange-text text-darken-4">Ultima puja realizada: $ {{ articulo_info.puja.precio }}</p>
                            <p class="">Fecha limite: {{ articulo_info.subasta.fecha_limite  }}</p>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"> {{ articulo_info.nombre }} <i
                                class="material-icons right">close</i></span>
                        <p> {{ articulo_info.descripcion }} </p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn" href="/subasta/{{ articulo_info.id }}">Entrar</a>
                    </div>
                </div>
            </div>

            {% endif %}
            {% endfor %}
            {% endfor %}


        </div>
    </div>

    <!-- Boton para agregar o editar articulos solo si el usuario esta autenticado-->
    {% if user.is_authenticated %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large teal lighten-2">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn tooltipped btn-floating green darken-1" data-position="left" data-tooltip="Ganancias"><i class="material-icons">attach_money</i></a></li>
            <li><a class="btn tooltipped btn-floating  grey darken-1" data-position="left" data-tooltip="Registros"><i class="material-icons">assignment</i></a></li>
            <li><a class="btn tooltipped btn-floating red" data-position="left" data-tooltip="Agregar" href="/registar_articulo/"><i class="material-icons">add</i></a></li>
        </ul>
    </div>
    {% endif %}
    {% endblock %}
</body>