{% extends 'subastas_app/index.html' %}

{% block content %}


<div class="container ">
    <div class="row">
        <div class="col  m10 l6 offset-l3 offset-m1">
            <div class="l6 center-align">
                <h4>Inicio de sesion</h4>
            </div>

            <div class="card-panel ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class=" input-field l4">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" placeholder="Ingrese su Usuario" id="username" class="validate"
                            name="username" required>
                        <label for="username">Usuario</label>
                    </div>
                    <div class=" input-field ">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="password" placeholder="Ingrese su Usuario" id="password" class="validate"
                            name="password" required>
                        <label for="password">Password</label>
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% else %}
                        <input type="hidden" name="next" value="/" />
                        {% endif %}
                    </div>
                    {% if form.errors %}
                    <div class="card-panel small red lighten-2 center-align">
                        <p>Ingrese correctamente sus datos</p>
                    </div>
                    {% endif %}
                    <div class="center-align">
                        <button class="btn center-align" type="submit"><i
                                class="material-icons right">send</i>Enviar</button>
                    </div>
                    <div class="section">
                        <div class="center-align">
                            <a href="/registro/">¿No estas registrado aun?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}