{% extends 'subastas_app/index.html' %}

<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="card-panel col s12 l12">
                <div class="card-tittle center">
                    {% for item  in articulo %}
                    <h4>{{ item.nombre }}</h4>
                    {% endfor %}
                </div>
                <div class="divider"></div>
                <div class="section">
                    <div class="col s11 l5">
                        {% for item in articulo %}
                        <img class="responsive-img" height="350px" src="{{ item.imagen.url }}">
                        {% endfor %}
                    </div>
                    <div class="card-content col s12 l6 right">
                        <div class=" s10 ">
                            {% for item  in articulo %}
                            <div class="card-panel  center-align teal lighten-1 "> Precio de
                                apertura:${{item.precio_minimo }}
                            </div>
                            {% endfor %}
                            <div class="card-panel center-align amber lighten-1"> Ultima puja:${{ ultima_puja.precio }}
                            </div>
                        </div>
                        <div class="row valign-wrapper">
                            <div class="col l6">
                                <h5>Ofertar </h5>
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="input-field col l6">
                                    <i class=" tiny material-icons prefix ">attach_money</i>
                                    <input type="text" class="validate" id="puja" name="valor_puja" value="">
                                </div>
                                <button onclick="M.toast({html:  puja.value, classes: 'rounded'})" class="btn"
                                    type="submit">Push!</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Tabla de historias de pujas realizadas -->
                <div class="section">
                    </div>
                    <h4 class=" col l12 center">Historial de Pujas realizadas</h4>
                    <table class="responsive-table centered">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Puja </th>
                                <th>Fecha</th>
                                <th>Hora</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for puja_info in  puja%}                
                            {% for  usuario in usuarios %}
                            <tr>
                                {% if usuario.id == puja_info.user_id %}
                                <td>{{  usuario.username }}</td>
                                {% endif %}
                                <td>$ {{ puja_info.precio }}</td>
                                <td> {{ puja_info.fecha }}</td>
                                <td> {{ puja_info.hora }}</td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

</body>

</html>